<div class="comic-actions">
  <button id="addNextSeriesBtn" class="my-button">Add Next in Series</button>
  <button id="editComicBtn" class="my-button">Edit Comic</button>
  <button id="addVariantBtn" class="my-button">Add Variant</button>
</div>

<div class="comic-main">
  <div class="cover-image">
    {{#if comic.variants.0.coverImage}}
    <img src="{{comic.variants.0.coverImage}}" alt="Cover Image">
    {{else}}
    <p>no cover image found</p>
    {{/if}}
  </div>

  <div class="comic-details">
    <h1>{{comic.title}} #{{comic.issue}}</h1>
    <h2>Release Date: {{formatDate comic.releaseDate "MM/DD/YYYY"}}</h2>
    <h2>FOC: {{formatDate comic.FOC "MM/DD/YYYY"}}</h2>
    <p>{{comic.description}}</p>
    <p>Writers:</p>
    {{#if comic.authors.length}}
    <ul>{{#each comic.authors}}
      <li>{{this.aName}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>no writers found</p>
    {{/if}}

    <p>Artists:</p>
    {{#if comic.artists.length}}
    <ul>
      {{#each comic.artists}}
      <li>{{this.aName}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>No Artists found</p>
    {{/if}}
  </div>
  <div class="comic-pulls">
    <h2>Customers Pulling This Comic</h2>
    {{#if customers.length}}
      {{#each customers}}
      <p>{{this.firstName}} {{this.lastName}}</p>
       <button class="remove-comic-btn" data-customer-id="{{_id}}" data-comic-id="{{comicId}}">Remove Comic</button>
      {{/each}}
    {{else}}
    <p>No customers have pulled this yet.</p>
    {{/if}}

    {{!-- remove modal --}}
    <div id="confrimModal" class="modal" style="display: none;">
      <div class="modal-content">
        <p>Are yuo sure you want to remove this from their pull list?</p>
      </div>
      <div class="modal-footer">
        <button id="confirmrRemove" class="my-button">Yes</button>
      </div>
    </div>
    
    {{!-- add to customers pull form --}}
    <form action="/pull/" method="POST">
      <input type="hidden" name="comicId" value="{{comic._id}}" />
      <label for="customer">Pull for Customer: </label>
      <select name="customerId" id="customerSelect" required>
        <option value="" disabled selected>Select a customer</option>
        {{#each allCustomers}}
        <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
        {{else}}
        <option value="">no customers found</option>
        {{/each}}
      </select>
      <button class="my-button">Add to Pull List</button>
    </form>
  </div>
</div>


<div class="variant-covers">
  <h2>Variant Covers</h2>
  {{#if comic.variants.length}}
  <div class="variant-list">
    {{#each comic.variants}}
    <div class="variant-card {{#if this.isIncentive}}incentive{{/if}}">
      <h3>{{this.name}}</h3>
      {{#if this.coverImage}}
      <img src="{{this.coverImage}}" alt="{{this.name}} Cover Image">
      {{else}}
      <p>No cover image available for this variant.</p>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{else}}
  <p>No variant covers available.</p>
  {{/if}}
</div>

{{!-- manage variants --}}
<div class="variant-form modal" id="variantForm">
  <span class="close">&times;</span>
  <h2>Add a Variant Cover</h2>
  <form action="/comics/{{comic._id}}/variant" method="POST" enctype="multipart/form-data">
    {{#each errors}}
    <p class="error">{{this}}</p>
    {{/each}}
    <label for="name">Variant Name:</label>
    <input type="text" name="name" placeholder="name: eg: Jim Lee Cardstock 1:25" required />

    <label for="isIncentive">Is Incentive?</label>
    <input type="checkbox" name="isIncentive" />

    <label for="coverImage">Cover Image</label>
    <input type="file" name="coverImage" id="coverImage" accept="image/*" required />

    <label for="artist">Select Artist</label>
    <select name="artist" id="artistSelect">
      <option value="">Select Artist</option>
      {{#each artistList}}
      <option value="{{this._id}}">{{this.aName}}</option>
      {{else}}
      <option disabled>No artists available</option>
      {{/each}}
    </select>

    <label for="newArtist">Or Add New Artist</label>
    <input type="text" name="newArtist" id="newArtist" placeholder="New Artist Name" />

    <button type="submit" class="my-button">Create Variant</button>
  </form>
</div>

{{!-- add next in series form --}}
<div id="nextSeriesForm" class="modal">
  <div class="next-form-content">
    <span class="close">&times;</span>
    <h2>Add Next in Series</h2>
    <form action="/comics/{{comic._id}}/next" method="POST" enctype="multipart/form-data">
      <label for="releaseDate">Release Date:</label>
      <input type="date" id="releaseDate" name="releaseDate">
      <label for="foc">FOC Date:</label>
      <input type="date" id="foc" name="foc" value="{{formatDate comic.FOC 'YYYY-MM-DD'}}" />
      <label for="coverImage">A Cover</label>
      <input type="file" name="coverImage" id="coverImage" accept="image/*" required />
      <button type="submit" class="my-button">Add</button>
    </form>
  </div>
</div>
{{!-- edit comic details --}}
<div class="add-details modal" id="editComicForm">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Edit Comic</h2>
    <form class="add-details-form" action="/comics/{{comic._id}}/edit" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{comic.title}}" required />

      <label for="issue">Issue:</label>
      <input type="number" id="issue" name="issue" value="{{comic.issue}}" required />

      <label for="releaseDate">Release Date:</label>
      <input type="date" id="releaseDate" name="releaseDate" value="{{formatDate comic.releaseDate 'YYYY-MM-DD'}}" />

      <label for="foc">FOC Date:</label>
      <input type="date" id="foc" name="foc" value="{{formatDate comic.FOC 'YYYY-MM-DD'}}" />

      <label for="description">Description:</label>
      <textarea id="description" name="description">{{comic.description}}</textarea>

      <label for="series">Series:</label>
      <select id="series" name="series">
        {{#each seriesList}}
        <option value="{{this._id}}" {{#ifEquals this._id ../comic.series._id}}selected{{/ifEquals}}>
          {{this.title}}
        </option>
        {{/each}}
      </select>
      <label for="newSeries">New Series</label>
      <input type="text" id="newSeries" name="newSeries" placeholder="New Series">

      {{!-- author edits --}}
      <h3>Edit Writers</h3>
      <label for="author">Select Writer</label>
      <select name="author" id="authorSelect">
        <option value="">Select Writer</option>
        {{#each authorList}}
        <option value="{{this._id}}">{{this.aName}}</option>
        {{/each}}
      </select>

      <label for="newAuthor">or add new Author</label>
      <input type="text" id="newAuthor" name="newAuthor" placeholder="New Writer">

      <h2>Artists</h2>
     <label for="artist">Select Artist</label>
     <select name="artist" id="artistSelect">
      <option value="">Select Artist</option>
      {{#each artistList}}
      <option value="{{this._id}}">{{this.aName}}</option>
      {{/each}}
     </select>
     <label for="newArtist">Or add new Artist</label>
     <input type="text" id="newArtist" name="newArtist" placeholder="new Artist">

     <label for="publisher">Select Publisher</label>
     <select name="publisher" id="publisherSelect">
      <option value="">Select PUblisher</option>
      {{#each publisherList}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
     </select>

     <label for="newPublisher">Or add a new Publisher</label>
     <input type="text" id="newPublisher" name="newPublisher" placeholder="ie Marvel 2">

      <button type="submit">Save Changes</button>
    </form>
  </div>
</div>