<div class="comic-main">
  <div class="cover-image">
    {{#if comic.variants.0.coverImage}}
    <img src="{{comic.variants.0.coverImage}}" alt="Cover Image">
    {{else}}
    <p>no cover image found</p>
    {{/if}}
  </div>

  <div class="comic-details">
    <h1>{{comic.title}} #{{comic.issue}}</h1>
    <h2>Release Date: {{formatDate comic.releaseDate "MM/DD/YYYY"}}</h2>
    <h2>FOC: {{formatDate comic.FOC "MM/DD/YYYY"}}</h2>
    <p>{{comic.description}}</p>
    <p>Writers:</p>
    {{#if comic.authors.length}}
    <ul>{{#each comic.authors}}
      <li>{{this.aName}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>no writers found</p>
    {{/if}}

    <p>Artists:</p>
    {{#if comic.artists.length}}
    <ul>
      {{#each comic.artists}}
      <li>{{this.aName}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>No Artists found</p>
    {{/if}}
  </div>
  <div class="comic-pulls">
    <h2>Customers Pulling This Comic</h2>
    {{#if customers.length}}
    <ul>
      {{#each customers}}
      <li>{{this.firstName}} {{this.lastName}}</li>
      <button class="remove-pull" data-customer-id="{{this._id}}" data-comic-id="{{comic._id}}">Remove</button>
      {{/each}}
    </ul>
    {{else}}
    <p>No customers have pulled this yet.</p>
    {{/if}}
  </div>
</div>

<div class="modal" id="removePullModal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Confirm Removal</h2>
    <p>Are you sure you want to remove <span id="customerName"></span> from pulling this comic?</p>
    <button id="confirmRemovePull" class="my-button">Yes, Remove</button>
    <button class="my-button close">Cancel</button>
  </div>
</div>

<div class="variant-covers">
  <h2>Variant Covers</h2>
  {{#if comic.variants.length}}
  <div class="variant-list">
    {{#each comic.variants}}
    <div class="variant-card {{#if this.isIncentive}}incentive{{/if}}">
      <h3>{{this.name}}</h3>
      {{#if this.coverImage}}
      <img src="{{this.coverImage}}" alt="{{this.name}} Cover Image">
      {{else}}
      <p>No cover image available for this variant.</p>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{else}}
  <p>No variant covers available.</p>
  {{/if}}
</div>


<div class="comic-actions">
  <button id="addNextSeriesBtn" class="my-button">Add Next in Series</button>
  <button id="editComicBtn" class="my-button">Edit Comic</button>
  <button id="addVariantBtn" class="my-button">Add Variant</button>
</div>

{{!-- manage variants --}}
<div class="variant-form modal" id="variantForm">
  <span class="close">&times;</span>
  <h2>Add a Variant Cover</h2>
  <form action="/comics/{{comic._id}}/variant" method="POST" enctype="multipart/form-data">
    {{#each errors}}
    <p class="error">{{this}}</p>
    {{/each}}
    <label for="name">Variant Name:</label>
    <input type="text" name="name" placeholder="name: eg: Jim Lee Cardstock 1:25" required />

    <label for="isIncentive">Is Incentive?</label>
    <input type="checkbox" name="isIncentive" />

    <label for="coverImage">Cover Image</label>
    <input type="file" name="coverImage" id="coverImage" accept="image/*" required />

    <label for="artist">Select Artist</label>
    <select name="artist" id="artistSelect">
      <option value="">Select Artist</option>
      {{#each artistList}}
      <option value="{{this._id}}">{{this.aName}}</option>
      {{else}}
      <option disabled>No artists available</option>
      {{/each}}
    </select>

    <label for="newArtist">Or Add New Artist</label>
    <input type="text" name="newArtist" id="newArtist" placeholder="New Artist Name" />

    <button type="submit" class="my-button">Create Variant</button>
  </form>
</div>

{{!-- add next in series form --}}
<div id="nextSeriesForm" class="modal">
  <div class="next-form-content">
    <span class="close">&times;</span>
    <h2>Add Next in Series</h2>
    <form action="/comics/{{comic._id}}/next" method="POST" enctype="multipart/form-data">
      <label for="releaseDate">Release Date:</label>
      <input type="date" id="releaseDate" name="releaseDate">
      <label for="foc">FOC Date:</label>
      <input type="date" id="foc" name="foc" value="{{formatDate comic.FOC 'YYYY-MM-DD'}}" />
      <label for="coverImage">A Cover</label>
      <input type="file" name="coverImage" id="coverImage" accept="image/*" required />
      <button type="submit" class="my-button">Add</button>
    </form>
  </div>
</div>
{{!-- edit comic details --}}
<div class="add-details modal" id="editComicForm">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Edit Comic</h2>
    <form class="add-details-form" action="/comics/{{comic._id}}/edit" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{comic.title}}" required />

      <label for="issue">Issue:</label>
      <input type="number" id="issue" name="issue" value="{{comic.issue}}" required />

      <label for="releaseDate">Release Date:</label>
      <input type="date" id="releaseDate" name="releaseDate" value="{{formatDate comic.releaseDate 'YYYY-MM-DD'}}" />

      <label for="foc">FOC Date:</label>
      <input type="date" id="foc" name="foc" value="{{formatDate comic.FOC 'YYYY-MM-DD'}}" />

      <label for="description">Description:</label>
      <textarea id="description" name="description">{{comic.description}}</textarea>

      <label for="series">Series:</label>
      <select id="series" name="series">
        {{#each seriesList}}
        <option value="{{this._id}}" {{#ifEquals this._id ../comic.series._id}}selected{{/ifEquals}}>
          {{this.title}}
        </option>
        {{/each}}
      </select>
      <label for="newSeries">New Series</label>
      <input type="text" id="newSeries" name="newSeries" placeholder="New Series">

      {{!-- author edits --}}
      <h3>Edit Writers</h3>
      <div id="author-container">
        {{#each comic.authors}}
        <div class="author-container">
          <select name="authors[]">
            <option value="{{this._id}}" selected> {{this.aName}}</option>
            {{#each authorList}}
            <option value="{{this._id}}" {{#ifEquals this._id ../this._id}}selected{{/ifEquals}}>
              {{this.aName}}
            </option>
            {{/each}}
          </select>
          <button type="button" class="remove-author" data-id="{{this.id}}">Remove</button>
        </div>
        {{/each}}
      </div>
      <label for="newAuthor">New Author:</label>
      <input type="text" id="newAuthor" name="newAuthors[]" placeholder="New Author">
      <button type="button" id="addAuthor">Add New Author</button>

      <h2>Artists</h2>
      <div id="artists-container">
        {{#each comic.artists}}
        <div class="artist-container">
          <select name="artists[]">
            <option value="{{this._id}}" selected>{{this.aName}}</option>
            {{#each artistList}}
            <option value="{{this._id}}" {{#ifEquals this._id ../this._id}}selected{{/ifEquals}}>
              {{this.aName}}
            </option>
            {{/each}}
          </select>
          <button type="button" class="remove-artist" data-id="{{this._id}}">Remove</button>
        </div>
        {{/each}}
      </div>

      <label for="newArtist">New Artist Name:</label>
      <input type="text" id="newArtist" name="newArtists" placeholder="Enter new artist's name" />
      <button type="button" id="addArtist">Add New Artist</button>

      <button type="submit">Save Changes</button>
    </form>
  </div>
</div>